.App {
  background: linear-gradient(rgb(255, 77, 109),rgb(255, 240, 243));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(92, 71, 86, 0.192);
  
  
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  background-image: url("https://i.pinimg.com/564x/0f/a8/cb/0fa8cb6ebfa7c2ca5e3e229129ba85f3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 1rem;
}

.title {
  color: whitesmoke;
  font-weight: bold;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  flex: 1;
}
.message-row {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: row;
}
.message {
  color: white;
  background: black;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  max-width: 20rem;
  min-height: auto;
  overflow-wrap: break-word;
  position: relative;
}
.message-user {
  position: absolute;
  left: 0;
  top: -0.8rem;
  font-size: 0.5rem;
}

.name-picker {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.name-picker svg {
  stroke: white;
  cursor: pointer;
}
.name-picker-name {
  color: white;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
